@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap");



body {
  background: url(./img/background.png) no-repeat center center fixed;
  background-size: cover;
}

.title {
  font-family: "Exo 2";
  font-weight: lighter;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 1px #000000;
  margin-bottom: 24px;
}
